/* ==========================================================================
   #BTN
   ========================================================================== */

/**
 * 1. Reset all properties to browser default.
 * 2. Force all button-styled elements to appear clickable.
 * 3. Allow us to style box model properties.
 * 4. Reset/normalize some styles.
 * 5. Line different sized buttons up a little nicer.
 */

.c-btn {
  all: initial; /* [1] */
  background-color: $colour-6;
  border-radius: 50px;
  color: $colour-2;
  cursor: pointer; /* [2] */
  display: inline-block; /* [3] */
  font-family: inherit;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: $base-spacing-unit-small $base-spacing-unit-large;
  text-align: center; /* [4] */
  text-decoration: none; /* [4] */
  transition: all 0.25s ease;
  vertical-align: middle; /* [5] */
  @include fluid-type($base-font-min-width, $base-font-max-width, $font-size-7, $font-size-6);
  @include uppercase;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($colour-6, 10%);
    text-decoration: none; /* [4] */
  }

  // 1. Forbid interaction with buttons that are disabled.

  &[disabled],
  &.is-disabled {
    opacity: 0.5;
    pointer-events: none; /* [1] */
  }
}
