/* ==========================================================================
   #LINK
   ========================================================================== */

$link-transition-duration: 0.1s !default;
$link-transition-easing: ease !default;

.c-link {
  border-bottom: 1px solid $colour-3;
  box-shadow: inset 0 -2px 0 0 $colour-3;
  padding-bottom: 2px;
  position: relative;
  transition: all $link-transition-duration $link-transition-easing;

  &:hover,
  &:active,
  &:focus {
    background-color: $colour-3;
    color: $colour-2;
  }
}
