/* ==========================================================================
   #NAV
   ========================================================================== */

.c-nav {
  font-size: $font-size-6;
  font-weight: 600;

  &:before,
  &:after {
    background-color: rgba($colour-3, 0.15);
    content: "";
    display: block;
    height: 1px;
    margin-top: $base-spacing-unit-small;
    margin-bottom: $base-spacing-unit-small;
    @include full-width;
  }

  @include small {
    display: flex;
    justify-content: flex-end;

    &:before,
    &:after {
      content: none;
    }
  }
}

.c-nav__item {
  color: rgba($colour-2, 0.85);
  line-height: 1;

  &:not(:last-child) {
    margin-right: $base-spacing-unit;
  }
}
