/* ==========================================================================
   #TIMELINE
   ========================================================================== */

$timeline-border-height: 3px !default;
$timeline-marker-size: 20px !default;
$timeline-border-colour: lighten($colour-2, 10%) !default;

.c-timeline {
  display: flex;
  margin-bottom: $base-spacing-unit-huge;
  padding-top: $timeline-marker-size / 2;

  .js & {
    cursor: move;
  }
}

.c-timeline__item {
  color: rgba($colour-1, 0.9);
  border-top: $timeline-border-height solid $timeline-border-colour;
  flex-basis: 400px - $base-spacing-unit-large;
  flex-shrink: 0;
  position: relative;
  padding-right: $base-spacing-unit-large;
  padding-top: $base-spacing-unit;
  margin-top: -($timeline-border-height);

  // Circular timeline marker

  &:before {
    background-color: $colour-2;
    border: $timeline-border-height solid $timeline-border-colour;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: $timeline-marker-size;
    position: absolute;
      top: 0;
      left: 0;
    transform: translateY(-50%);
    width: $timeline-marker-size;
  }

  &:last-child {
    border-color: transparent;
  }

  @include medium {
    flex-basis: 480px - $base-spacing-unit-huge;
  }
}

.c-timeline__title {
  color: $colour-1;
  font-size: $font-size-5;
  font-weight: 600;
  margin-bottom: $base-spacing-unit-tiny;

  .fonts-loaded & {
    font-family: $font-sans;
  }
}
