/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
  color: rgba($colour-2, 0.85);
  font-size: smaller;
}

.c-footer__band {
  align-items: center;
  display: flex;
  flex-direction: column;

  @include small {
    flex-direction: row;
    justify-content: space-between;
  }
}

.c-footer__nav {
  margin-bottom: $base-spacing-unit;

  @include small {
    margin-bottom: 0;
  }
}

.c-footer__nav-item {

  &:not(:last-child) {
    margin-right: $base-spacing-unit-small;

    @include small {
      margin-right: $base-spacing-unit;
    }
  }

}
