/* ==========================================================================
   #TIMELINE
   ========================================================================== */

$timeline-marker-size: 24px !default;
$timeline-marker-border-width: 4px !default;

.c-timeline {
  margin-bottom: $base-spacing-unit-huge;
  padding-left: $timeline-marker-size / 2;
}

.c-timeline__item {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  > * {
    flex-shrink: 0;
  }

  &:not(:last-child) {
    padding-bottom: $base-spacing-unit-large;

    &:before {
      border-left: 2px solid $colour-4;
      content: "";
      height: 100%;
      position: absolute;
        top: $timeline-marker-border-width;
        left: 0;
      transform: translateX(-50%);
    }
  }
}

.c-timeline__title {
  line-height: 1;
  margin-bottom: $base-spacing-unit-tiny;
  margin-right:  $base-spacing-unit-tiny;
  padding-left: $base-spacing-unit-large;
  position: relative;

  &:before {
    align-self: center;
    background-color: $colour-1;
    border: $timeline-marker-border-width solid $colour-5;
    border-radius: 50%;
    content: "";
    display: inline-flex;
    height: $timeline-marker-size;
    position: absolute;
      top: 50%;
      left: 0;
    transform: translate(-50%, -50%);
    width: $timeline-marker-size;
  }
}

.c-timeline__meta {
  color: $colour-3;
  font-style: italic;
  font-size: smaller;
}

.c-timeline__detail {
  color: rgba($colour-2, 0.85);
  flex-basis: 100%;
  margin-bottom: 0;
  max-width: $base-site-max-width--narrow;
  padding-left: $base-spacing-unit-large;
}
