/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
  padding-top: $base-spacing-unit;
}

// 1. Fallback to flexbox in browsers that don't support grid.

.c-header__band {
  display: flex; /* [1] */
  flex-direction: column;

  @include small {
    align-content: center;
    align-items: center;
    display: grid;
    flex-direction: row; /* [1] */
    grid-template-columns: auto 1fr;
    justify-content: space-between;
  }
}

.c-header__logo {
  line-height: 1;
  margin-bottom: 0;

  svg {
    display: block;
    height: 30px;
    width: 23px;
  }
}
