/* ==========================================================================
   #CARD
   ========================================================================== */

.c-card {
  display: flex;
  flex-direction: column;
  margin-bottom: $base-spacing-unit-huge;

  @include desktop {
    margin-bottom: 0;
  }
}

.c-card__title {
  margin-bottom: 0;

  &:after {
    background-color: $colour-5;
    border-radius: 3px;
    content: "";
    display: block;
    height: 3px;
    margin-top: $base-spacing-unit-small;
    margin-bottom: $base-spacing-unit;
    width: 50px;
  }

}

.c-card__thumbnail {
  flex-shrink: 0;
  margin-bottom: $base-spacing-unit;
}

.c-card__info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: $base-spacing-unit-large $base-spacing-unit;

  @include desktop {
    padding: $base-spacing-unit-large;
  }
}


/* Style variants
  ========================================================================== */

.c-card--horizontal {

  > .c-card__thumbnail {
    margin-bottom: 0;
  }

  @include tablet {
    flex-direction: row;

    &.c-card--reverse {
      flex-direction: row-reverse;
    }

    > .c-card__thumbnail {
      flex-basis: 62%;
    }

  }

}

.c-card--contrast {
  background: url("../assets/images/asphalt-dark.png") $colour-6;
  background-blend-mode: soft-light;
  color: $colour-2;
}
