/* ==========================================================================
   #PROFILE
   ========================================================================== */

$border-offset-top: 7.5% !default;
$border-offset-left: 10% !default;

.c-profile-title {
  font-size: $font-size-3;
  line-height: 1.6;
  max-width: 660px;
  margin-bottom: calc(12.5vh + #{$base-spacing-unit-huge});

  @include desktop {
    font-size: $font-size-2;
    max-width: 780px;
  }
}

.c-profile-image {

  @include desktop {
    margin-left: $border-offset-left;
    position: relative;

    &:before,
    &:after {
      content: "";
      height: 100%;
      position: absolute;
        top: 0;
        left: 0;
      transform: translate(-#{$border-offset-left}, #{$border-offset-top});
      width: 100%;
      z-index: $z-index-beneath;
    }

    &:before {
      background-image: linear-gradient(to top, #{$colour-2} 20%, #{$colour-3} 100%);
    }

    &:after {
      background-color: $colour-1;
      background-clip: padding-box;
      border: 16px solid transparent;
    }
  }

}

.c-profile-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include desktop {

    p {
      max-width: 85%;
    }

  }
}


