/* ==========================================================================
   #CARD
   ========================================================================== */

.c-card {
  display: flex;
  flex-direction: column;
  margin-bottom: $base-spacing-unit-huge;

  @include phablet {
    flex-direction: row;
    margin-bottom: $base-spacing-unit-large;
  }

  @include desktop {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.c-card__title {
  margin-bottom: $base-spacing-unit-tiny;
}

.c-card__thumbnail {

  &:after {
    background-color: $colour-5;
    border-radius: 3px;
    content: "";
    display: block;
    height: 3px;
    margin-top: $base-spacing-unit;
    margin-bottom: $base-spacing-unit-small;
    width: 50px;
  }

  @include phablet {
    flex-basis: 38%;
    flex-shrink: 0;
    margin-right: $base-spacing-unit;

    &:after {
      content: none;
    }
  }

  @include desktop {
    flex-basis: initial;
    margin-right: 0;

    &:after {
      content: "";
    }
  }

}


/* Style variants
  ========================================================================== */

.c-card--spaced\@lrg {

  @include desktop {
    margin-bottom: $base-spacing-unit-huge;
  }

}
