/* ==========================================================================
   #SPACING
   ========================================================================== */

// Use '!important' deliberately here – we always want utility classes to take.

.u-spaced-tiny {
  margin-bottom: $base-spacing-unit-tiny;
}

.u-spaced-small {
  margin-bottom: $base-spacing-unit-small;
}

.u-spaced-base {
  margin-bottom: $base-spacing-unit;
}

.u-spaced-large {
  margin-bottom: $base-spacing-unit-large;
}

.u-spaced-huge {
  margin-bottom: $base-spacing-unit-huge;
}

.u-spaced-auto {
  margin-bottom: auto;
}

.u-spaced-none {
  margin-bottom: 0;
}


/* `Small` breakpoint variants
   ========================================================================== */

.u-spaced-tiny-\@sm {
  @include small {
    margin-bottom: $base-spacing-unit-tiny;
  }
}

.u-spaced-small-\@sm {
  @include small {
    margin-bottom: $base-spacing-unit-small;
  }
}

.u-spaced-base-\@sm {
  @include small {
    margin-bottom: $base-spacing-unit;
  }
}

.u-spaced-large-\@sm {
  @include small {
    margin-bottom: $base-spacing-unit-large;
  }
}

.u-spaced-huge-\@sm {
  @include small {
    margin-bottom: $base-spacing-unit-huge;
  }
}

.u-spaced-auto-\@sm {
  @include small {
    margin-bottom: auto;
  }
}

.u-spaced-none-\@sm {
  @include small {
    margin-bottom: 0;
  }
}


/* `Medium` breakpoint variants
   ========================================================================== */

.u-spaced-tiny-\@md {
  @include medium {
    margin-bottom: $base-spacing-unit-tiny;
  }
}

.u-spaced-small-\@md {
  @include medium {
    margin-bottom: $base-spacing-unit-small;
  }
}

.u-spaced-base-\@md {
  @include medium {
    margin-bottom: $base-spacing-unit;
  }
}

.u-spaced-large-\@md {
  @include medium {
    margin-bottom: $base-spacing-unit-large;
  }
}

.u-spaced-huge-\@md {
  @include medium {
    margin-bottom: $base-spacing-unit-huge;
  }
}

.u-spaced-auto-\@md {
  @include medium {
    margin-bottom: auto;
  }
}

.u-spaced-none-\@md {
  @include medium {
    margin-bottom: 0;
  }
}


/* `Large` breakpoint variants
   ========================================================================== */

.u-spaced-tiny-\@lg {
  @include large {
    margin-bottom: $base-spacing-unit-tiny;
  }
}

.u-spaced-small-\@lg {
  @include large {
    margin-bottom: $base-spacing-unit-small;
  }
}

.u-spaced-base-\@lg {
  @include large {
    margin-bottom: $base-spacing-unit;
  }
}

.u-spaced-large-\@lg {
  @include large {
    margin-bottom: $base-spacing-unit-large;
  }
}

.u-spaced-huge-\@lg {
  @include large {
    margin-bottom: $base-spacing-unit-huge;
  }
}

.u-spaced-auto-\@lg {
  @include large {
    margin-bottom: auto;
  }
}

.u-spaced-none-\@lg {
  @include large {
    margin-bottom: 0;
  }
}
