/* ==========================================================================
   #COLOUR
   ========================================================================== */

// Use '!important' deliberately here – we always want trump classes to take.

/* Font colours
   ========================================================================== */

.u-colour-alpha {
  color: $colour-one !important;
}

.u-colour-beta {
  color: $colour-two !important;
}

.u-colour-gamma {
  color: $colour-three !important;
}

.u-colour-delta {
  color: $colour-four !important;
}

.u-colour-epsilon {
  color: $colour-five !important;
}

.u-colour-zeta {
  color: $colour-six !important;
}

.u-colour-eta {
  color: $colour-seven !important;
}

.u-colour-theta {
  color: $colour-eight !important;
}


/* Background colours
   ========================================================================== */

.u-bg-alpha {
  background-color: $colour-one !important;
}

.u-bg-beta {
  background-color: $colour-two !important;
}

.u-bg-gamma {
  background-color: $colour-three !important;
}

.u-bg-delta {
  background-color: $colour-four !important;
}

.u-bg-epsilon {
  background-color: $colour-five !important;
}

.u-bg-zeta {
  background-color: $colour-six !important;
}

.u-bg-eta {
  background-color: $colour-seven !important;
}

.u-bg-theta {
  background-color: $colour-eight !important;
}
