/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

// Use '!important' deliberately here – we always want utility classes to take.

/* Font weights
   ========================================================================== */

.u-font-bold {
  font-weight: 600 !important;
}

.u-font-regular {
  font-weight: 400 !important;
}


/* Adjustments
   ========================================================================== */

/**
 * ‘Can you just make that text a little bigger?’
 *
 * Example usage:
 * <p class="u-text++">A little bit bigger.</p>
 *
 */

.u-text\+\+ {
  font-size: larger  !important;
}

.u-text-- {
  font-size: smaller !important;
}

.u-ampersand {
  font-family: Baskerville;
  font-style: italic;
}


/* Headings
   ========================================================================== */

/**
 * Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy, e.g. we semantically need an H2,
 * but we want it to be sized like an H1:
 *
 *   <h2 class="u-h1"></h2>
 *
 */

.u-h1 {
  @include fluid-type($base-font-min-width, $base-font-max-width, $font-size-3, $font-size-1);
}

.u-h2 {
  @include fluid-type($base-font-min-width, $base-font-max-width, $font-size-4, $font-size-2);
}

.u-h3 {
  @include fluid-type($base-font-min-width, $base-font-max-width, $font-size-5, $font-size-3);
}

.u-h4 {
  @include fluid-type($base-font-min-width, $base-font-max-width, $font-size-6, $font-size-4);
}

.u-h5 {
  @include fluid-type($base-font-min-width, $base-font-max-width, $font-size-7, $font-size-5);
}

.u-h6 {
  @include fluid-type($base-font-min-width, $base-font-max-width, $font-size-8, $font-size-6);
}
