/* ==========================================================================
   #DISPLAY
   ========================================================================== */

// Use '!important' deliberately here – we always want utility classes to take.

/**
 * General helper classes for controlling display.
 *
 * These are the basic classes you might need to apply to typical HTML content.
 * If you find yourself needing something like `table`, `table-cell`, `flex`,
 * etc., then you probably need a more complex object and shouldn't be using
 * utility classes in the first place.
 */

.u-display-block {
  display: block !important;
}

.u-display-inline {
  display: inline !important;
}

.u-display-ib {
  display: inline-block !important;
}


/* `Small` breakpoint variants
   ========================================================================== */

.u-display-block-\@sm {
  @include small {
    display: block !important;
  }
}

.u-display-inline-\@sm {
  @include small {
    display: inline !important;
  }
}

.u-display-ib-\@sm {
  @include small {
    display: inline-block !important;
  }
}


/* `Medium` breakpoint variants
   ========================================================================== */

.u-display-block-\@md {
  @include medium {
    display: block !important;
  }
}

.u-display-inline-\@md {
  @include medium {
    display: inline !important;
  }
}

.u-display-ib-\@md {
  @include medium {
    display: inline-block !important;
  }
}


/* `Large` breakpoint variants
   ========================================================================== */

.u-display-block-\@lg {
  @include large {
    display: block !important;
  }
}

.u-display-inline-\@lg {
  @include large {
    display: inline !important;
  }
}

.u-display-ib-\@lg {
  @include large {
    display: inline-block !important;
  }
}
