/* ==========================================================================
   #COLOUR
   ========================================================================== */

// Use '!important' deliberately here – we always want utility classes to take.

/* Font colours
   ========================================================================== */

.u-colour-alpha {
  color: $colour-1 !important;
}

.u-colour-beta {
  color: $colour-2 !important;
}

.u-colour-gamma {
  color: $colour-3 !important;
}


/* Background colours
   ========================================================================== */

.u-bg-alpha {
  background-color: $colour-1 !important;
}

.u-bg-beta {
  background-color: $colour-2 !important;
}

.u-bg-gamma {
  background-color: $colour-3 !important;
}
