---
title: Reece Lucas — UI Developer
description: I work with teams big and small to build cracking digital products.
image: https://www.reecelucas.com/social.png
---

{% set css %}
  {% include "styles/index.css" %}
{% endset %}

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>{{ css | postcss | cssmin | safe }}</style>

    <title>{{ title }}</title>
    <link rel="canonical" href="https://www.reecelucas.com">
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.reecelucas.com/">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.reecelucas.com/">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ description }}">
    <meta property="twitter:image" content="{{ image }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=9a2d556a">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=9a2d556a">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=9a2d556a">
    <link rel="manifest" href="/site.webmanifest?v=9a2d556a">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=9a2d556a" color="#272b3b">
    <link rel="shortcut icon" href="/favicon.ico?v=9a2d556a">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    {{ content | safe }}

    <script src="index.js"></script>
  </body>
</html>