/* ==========================================================================
   #FORMS: FormHack v1.2.0
   ========================================================================== */

// Font
$fh-font-family: inherit !default;
$fh-font-size: $font-size-6 !default;
$fh-font-color: $colour-2 !default;

// Borders
$fh-border-radius: 3px !default;
$fh-border-width: 1px !default;
$fh-border-style: solid !default;
$fh-border-color: rgba($colour-4, 0.5) !default;

// Inputs, Textareas, Select, Option
$fh-input-height: 44px !default;
$fh-input-width: 100% !default;
$fh-input-max-width: none !default;
$fh-input-bg-color: rgba($colour-4, 0.25) !default;
$fh-focus-bg-color: rgba($colour-4, 0.5) !default;

// Errors
$fh-error-color: #ed2939 !default;
$fh-success-color: #3c763d !default;


label {
  display: block;
  color: rgba($colour-2, 0.85);
  font-size: $font-size-7;
  font-weight: 600;
  line-height: 1;
  margin-bottom: $base-spacing-unit-tiny;
  @include uppercase();
}

input,
textarea {
  background-color: $fh-input-bg-color;
  border: $fh-border-width $fh-border-style $fh-border-color;
  border-radius: $fh-border-radius;
  color: $fh-font-color;
  display: block;
  font-family: $fh-font-family;
  font-size: $fh-font-size;
  max-width: $fh-input-max-width;
  outline: none;
  padding: $base-spacing-unit-tiny;
  vertical-align: top;
  width: $fh-input-width;
  -webkit-appearance: none;
}

input {
  height: $fh-input-height;
}

textarea {
  min-height: 200px;
  overflow: auto;
  resize: none;
}

input[data-honey-pot] {
  display: none;
}

/* States
  ========================================================================== */

input[disabled],
textarea[disabled] {
  cursor: not-allowed;
}

input:focus,
textarea:focus {
  background-color: $fh-focus-bg-color;
}

input[aria-invalid],
textarea[aria-invalid] {
  background: url("/assets/icons/alert-icon-error.svg") no-repeat calc(100% - #{$base-spacing-unit-small}) center / 1em 1em $fh-input-bg-color;
  border-color: $fh-error-color;
  box-shadow: 0 0 1px $fh-error-color;
  margin-bottom: $base-spacing-unit-tiny;
}

textarea[aria-invalid] {
  background-position: calc(100% - #{$base-spacing-unit-small}) calc(0% + #{$base-spacing-unit-small});
}


/* Messaging
  ========================================================================== */

form {

  .form-message {
    display: block;
    font-size: smaller;
  }

  .form-message--error {
    color: $fh-error-color;
  }

  .form-message--success {
    color: $fh-success-color;
  }

}
