/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in pxs, the `line-height` is calculated to exist unitlessly.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 * 3. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 */

html {
	color: $colour-8;
	font-family: $font-fallback;
	font-size: $base-font-size; /* [1] */
	line-height: $base-line-height; /* [1] */
	min-height: 100%; /* [2] */
	overflow-y: scroll; /* [3] */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.fonts-loaded {
		font-family: $font-sans;
	}

	@include tablet {
		font-size: $base-font-size--lrg;
	}
}

/**
 * 1. At tablet and above the header is fixed, so we offset the
 *    body content by the header's height to ensure it doesn't overlap.
 */

body {
	background-color: $colour-1;
	overflow-x: hidden;

	@include phablet {
		padding-top: $header-height; /* [1] */
	}
}
