/* ==========================================================================
   #BANNER
   ========================================================================== */

$banner-padding-top: calc(5vmin + 80px);
$banner-padding-btm: calc(5vmin + 120px);

.o-banner {
  padding-top: $banner-padding-top;
  padding-bottom: $banner-padding-btm;
}


/* Style variants
  ========================================================================== */

.o-banner--contrast {
  position: relative;
  z-index: 0; // Create new stacking context for :before

  /**
   * Note: when using AXE or Pa11y for accessibility testing, this rule
   * will raise contrast errors, since they do not scan psuedo-elements.
   */

  &:before {
    background: url("../assets/images/asphalt-dark.png") $colour-6;
    content: "";
    z-index: -1;
    @include cover;
  }
}

.o-banner--contrast-asym {
  position: relative;
  z-index: 0; // Create new stacking context for :before

  &:before {
    background: url("../assets/images/asphalt-dark.png") $colour-6;
    content: "";
    z-index: -1;
    @include cover;
  }

  @include desktop {

    &:before {
      height: 62%; // Golden ratio
    }

  }
}
