/* ==========================================================================
   #BANNER
   ========================================================================== */

$banner-padding: calc(10vmin + #{$base-spacing-unit-large});
$banner-padding--sm: calc(5vmin + #{$base-spacing-unit-large});
$banner-padding--lg: calc(15vmin + #{$base-spacing-unit-large});

.o-banner {
  padding: $banner-padding--sm 0;

  @include medium {
    padding: $banner-padding 0;
  }
}


/* Size variants
  ========================================================================== */

.o-banner--no-space {
  padding: 0;

  @include medium {
    padding: 0;
  }
}

.o-banner--sm {
  padding: $banner-padding--sm 0;

  @include medium {
    padding: $banner-padding--sm 0;
  }
}

.o-banner--lg {
  padding: $banner-padding 0;

  @include medium {
    padding: $banner-padding--lg 0;
  }
}


/* Style variants
  ========================================================================== */

.o-banner--with-delimeter {
  position: relative;

  &:after {
    border-bottom: 1px solid $colour-4;
    content: "";
    position: absolute;
      bottom: 0;
      left: 50%;
    transform: translateX(-50%);
    width: 85%;
  }
}

.o-banner--asym {
  background-color: $colour-5;
  color: rgba($colour-1, 0.85);
  position: relative;
  z-index: $z-index-base;

  &:before {
    background-color: inherit;
    content: "";
    height: 100%;
    position: absolute;
      top: 0;
      left: -5%;
    width: 200vw;
    z-index: $z-index-beneath;
  }
}
