/* ==========================================================================
   #LIST-SCROLLABLE
   ========================================================================== */

/**
 * 1. Force a new layer for painting to avoid repaint on scroll.
 * 2: Inertial scroll on iOS.
 */

.o-list-scrollable {
  overflow-y: hidden;
  overflow-x: scroll;
  transform: translateZ(0); /* [1] */
  width: 100%;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* [2] */

  li {
    display: inline-block;
    white-space: normal;
  }
}
