/* ==========================================================================
   #WRAPPER
   ========================================================================== */

.o-wrapper {
  display: block;
  margin: 0 auto;
  max-width: $base-site-max-width;
  padding: 0 $base-spacing-unit;
  width: 100%;
}


/* Style variants
   ========================================================================== */

.o-wrapper--fw {
	max-width: none;
}

.o-wrapper--narrow {
	max-width: $base-site-max-width--narrow;
}

.o-wrapper--no-pad {
	padding: 0;
}
