/* ==========================================================================
   #SPACER
   ========================================================================== */

.o-spacer {
  margin-bottom: $base-spacing-unit;
}


/* Style variants
  ========================================================================== */

.o-spacer-reset {
  margin-bottom: 0;
}

.o-spacer-tiny {
  margin-bottom: $base-spacing-unit-tiny;
}

.o-spacer-small {
  margin-bottom: $base-spacing-unit-small;
}

.o-spacer-large {
  margin-bottom: $base-spacing-unit-large;
}

.o-spacer-huge {
  margin-bottom: $base-spacing-unit-huge;
}

