---
layout: layouts/base.njk
---

<section id="about">
  {% include 'sections/profile.njk' %}
  {% include 'sections/career.njk' %}
</section>

<section id="work" class="o-banner">
  {% include 'sections/projects.njk' %}
</section>
