<div class="o-wrapper">
  <h2 class="u-spaced-large">
    {{ projects.title | safe }}
  </h2>

  <ul class="o-layout o-layout--col:2@med">
    {% for item in projects.items %}
      <li class="o-layout__item c-overview">
        <a class="c-overview__inner" href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
          <div class="o-ratio c-overview__thumbnail">
            <img
              class="o-ratio__content"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
              data-src="{{ item.img }}"
              aria-hidden="true"
              alt=""
              data-lazyload
            >

            <noscript>
              <img
                aria-hidden="true"
                class="o-ratio__content"
                src="{{ item.img }}"
                alt=""
              >
            </noscript>
          </div>

          <div>
            <h3 class="c-overview__title">
              {{ item.title | safe }}
            </h3>
            <ul class="o-list-inline c-overview__tags">
              {% for tag in item.tags %}
                <li>{{ tag }}</li>
              {% endfor %}
            </ul>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>