<div class="o-banner">
  <div class="o-wrapper">
    <h2 class="u-spaced-large">
      {{ services.title | preventOrphan | safe }}
    </h2>

    <div class="o-layout o-layout--col:3@med">
      {% for item in services.items %}
        <div class="o-layout__item c-card">
          <div class="[ o-ratio o-ratio--3:4 ] c-card__thumbnail">
            <picture class="o-ratio__content">
              <source
                srcset="{{ item.img.webp }}"
                type="image/webp"
              >
              <source
                srcset="{{ item.img.fallback }}"
                type="image/png"
              >
              <img
                class="o-ratio__content"
                src="{{ item.img.fallback }}"
                alt="{{ item.img.alt }}"
              >
            </picture>
          </div>
          <h3 class="c-card__title">{{ item.title }}</h3>
          <p class="u-spaced-none">{{ item.text | preventOrphan }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>