<div class="o-banner">
  <div class="o-wrapper">
    <h2 class="u-spaced-large">
      {{ services.title | preventOrphan | safe }}
    </h2>

    <div class="o-layout o-layout--col:3@med">
      {% for item in services.items %}
        <div class="o-layout__item c-card">
          <div class="[ o-ratio o-ratio--4:3 ] c-card__thumbnail">
            <img
              class="o-ratio__content"
              data-src="{{ item.img.src }}"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
              alt="{{ item.img.alt }}"
              data-lazyload
            >

            <noscript>
              <img
                class="o-ratio__content"
                src="{{ item.img.src }}"
                alt="{{ item.img.alt }}"
              >
            </noscript>
          </div>
          <h3 class="c-card__title">{{ item.title }}</h3>
          <p class="u-spaced-none">{{ item.text | preventOrphan }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>