<div class="o-wrapper">
  <h2 class="u-spaced-large">
    {{ work.title | safe }}
  </h2>

  <div class="o-layout o-layout--col:2@med">
    {% for item in work.items %}
      <a class="o-layout__item c-overview" href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
        <div class="o-ratio c-overview__thumbnail">
          <img
            aria-hidden="true"
            class="o-ratio__content"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
            data-src="{{ item.img }}"
            data-lazyload
          >
        </div>

        <div class="c-overview__content">
          <div>
            <h3 class="u-h4 u-spaced-tiny">
              {{ item.title | preventOrphan }}
            </h3>
            <ul class="o-list-inline c-overview__tags">
              {% for tag in item.tags %}
                <li>{{ tag }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>