<div class="o-wrapper o-wrapper--narrow">
  <h1>
    Get in touch
  </h1>

  <p class="u-spaced-huge">
    If you have a project that you'd like some help with, please don't hesitate to get in touch.
    If forms aren't your thing, you can email me at <a class="c-link" href="mailto:reecelucas@sky.com">reecelucas@sky.com</a>.
    I'm available from April 2019 onwards.
  </p>

  <form action="https://usebasin.com/f/74b4e1029fb9" method="post">
    <input type="number" name="id" id="id" data-honey-pot>

    <div class="o-layout o-layout--col:2@md">
      <div class="o-layout__item u-spaced-large">
        <label for="name">
          Name*
        </label>
        <input type="text" name="name" id="name" required>
      </div>

      <div class="o-layout__item u-spaced-large">
        <label for="organisation">
          Organisation
        </label>
        <input type="text" name="organisation" id="organisation">
      </div>
    </div>

    <div class="u-spaced-large">
      <label for="email">
        Email Address*
      </label>
      <input type="email" name="email" id="email" required>
    </div>

    <div class="u-spaced-large">
      <label for="message">
        Message*
      </label>
      <textarea name="message" id="message" required></textarea>
    </div>

    <button class="c-btn" type="submit" data-form-submit>
      Submit
    </button>
  </form>
</div>