<footer class="[ o-banner o-banner--sm ] c-footer">
  <div class="[ o-wrapper o-wrapper--narrow ] c-footer__band">
    <nav class="c-footer__nav">
      <a
        class="c-footer__nav-item c-link"
        href="https://github.com/reecelucas"
        target="_blank"
        rel="noopener noreferrer"
      >
        GitHub
      </a>
      <a
        class="c-footer__nav-item c-link"
        href="https://www.linkedin.com/in/reecelucas/"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>
      <a class="c-footer__nav-item c-link" href="mailto:reecelucas@sky.com">
        Email
      </a>
    </nav>
    <span>© 2020, Reece Lucas</span>
  </div>
</footer>
