<header class="c-header">
  <a href="#content" class="c-skip-link">
    Skip to content
  </a>

  <div class="o-wrapper c-header__band">
    <a class="c-header__logo" href="/" aria-label="reecelucas.com">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 41 48"
        focusable="false"
      >
        <path
          fill="#DEC38B"
          d="M23 0H0v48h41L25.2 29.4C34.2 27.7 41 22 41 14.8 41 6.6 34.2 0 23 0z"
        />
        <path fill="#272B3B" d="M0 48h41L26.5 31 0 0v48z" />
      </svg>
    </a>

    <nav class="c-nav">
      <a href="#contact" class="c-nav__item">
        Contact
      </a>
      <a href="/assets/reece-lucas-cv.pdf" class="c-nav__item">
        Download CV
      </a>
    </nav>
  </div>
</header>
