<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, 'js');
  </script>

  <!-- The `data-inline` attribute is used in the inline-assets script -->
  <link href="/styles/main.scss" rel="stylesheet" type="text/css" data-inline="true">

  <title>Reece Lucas — UI Developer</title>
  <link rel="canonical" href="https://www.reecelucas.com">
  <meta name="title" content="Reece Lucas — UI Developer">
  <meta name="description" content="I work with teams big and small to build cracking digital products.">
 
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#272b3b">
 
  <meta name="title" content="Reece Lucas — UI Developer">
  <meta name="apple-mobile-web-app-title" content="reecelucas.com">
  <meta name="application-name" content="reecelucas.com">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.reecelucas.com/">
  <meta property="og:title" content="Reece Lucas — UI Developer">
  <meta property="og:description" content="I work with teams big and small to build cracking digital products.">
  <meta property="og:image" content="https://www.reecelucas.com/social.png">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.reecelucas.com/">
  <meta property="twitter:title" content="Reece Lucas — UI Developer">
  <meta property="twitter:description" content="I work with teams big and small to build cracking digital products.">
  <meta property="twitter:image" content="https://www.reecelucas.com/social.png">
</head>
