/* ==========================================================================
   #SETTINGS: TYPOGRAPHY
   ========================================================================== */

// System font stack.
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;


/* Typographic scale: Minor third-ish
   ========================================================================== */

$font-size-1: 44px !default;
$font-size-2: 38px !default;
$font-size-3: 32px !default;
$font-size-4: 26px !default;
$font-size-5: 22px !default;
$font-size-6: 18px !default;
$font-size-7: 15px !default;
$font-size-8: 12px  !default;