/* ==========================================================================
   #SETTINGS: TYPOGRAPHY
   ========================================================================== */

/* Webfonts
   ========================================================================== */

@font-face {
  font-display: swap;
  font-family: 'HKGrotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/HKGrotesk-Regular.woff2') format('woff2'),
       url('/assets/fonts/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'HKGrotesk';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/HKGrotesk-Bold.woff2') format('woff2'),
       url('/assets/fonts/HKGrotesk-Bold.woff') format('woff');
}

// Fallback to system font stack.
$font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-primary: "HKGrotesk", Helvetica, sans-serif !default;


/* Typographic scale
   ========================================================================== */

// Major second scale.
$font-size-1: 1.802rem !default;
$font-size-2: 1.602rem !default;
$font-size-3: 1.424rem !default;
$font-size-4: 1.266rem !default;
$font-size-5: 1.125rem !default;
$font-size-6: 1rem !default;
$font-size-7: 0.889rem !default;
$font-size-8: 0.79rem  !default;