<div class="o-banner o-banner--contrast">
  <div class="o-wrapper">
    <h2 class="u-spaced-large u-colour-beta">
      {{ experience.title | safe }}
    </h2>

    <ul class="o-list-scrollable c-timeline" data-scroller>
      {% for item in experience.items %}
        <li class="c-timeline__item">
          <h3 class="c-timeline__title u-colour-beta">
            {{ item.title }}
          </h3>
          <p class="c-timeline__text">{{ item.text | preventOrphan }}</p>
        </li>
      {% endfor %}
    </ul>

    <a class="c-btn c-btn--invert-hover" href="/assets/reece-lucas-cv.pdf">
      Download CV
    </a>
  </div>
</div>