<footer id="contact" class="[ o-banner o-banner--contrast o-banner--no-space ] c-footer">
  <div class="o-wrapper">
    <div class="c-footer__boxed">
      <div class="o-wrapper">
        <h2 class="u-colour-beta">
          {{ footer.title | preventOrphan | safe }}
        </h2>

        <p class="c-footer__copy">
          {{ footer.text | safe }}
        </p>

        <a class="c-btn c-btn--invert-hover" href="mailto:reecelucas@sky.com">
          Say Hello!
        </a>
      </div>
    </div>

    <div class="c-footer__band">
      <nav class="c-footer__nav">
        {% for item in footer.navItems %}
          <a
            class="c-footer__nav-item"
            href="{{ item.href }}"

            {% if item.newTab == true %}
              target="_blank"
              rel="noopener noreferrer"
            {% endif %}
          >
            {{ item.label }}
          </a>
        {% endfor %}
      </nav>
      <span>
        &copy; {{ global.year }}, Reece Lucas
      </span>
    </div>
  </div>
</footer>