<header class="c-header">
	<a href="#content" class="c-skip-link">
		Skip to content
	</a>

	<div class="o-wrapper">
		<div class="c-header__inner">
			<h1 class="c-header__logo">
				<a href="/">
					Reece<strong class="u-font-bold">Lucas</strong>
				</a>
			</h1>

			{% if global.navigation %}
				<nav class="c-nav" data-nav>
					{% for item in global.navigation %}
						<a
							href="{{ item.href }}"
							class="
								c-nav__item
								{% if item.inline != true %}
									[ c-btn c-btn--ghost ] u-show-@sml
								{% endif %}
							"

							{% if item.skipLink == true %}
								data-nav-item
							{% endif %}
						>
							{{ item.label }}
						</a>
					{% endfor %}
				</nav>
			{% endif %}
		</div>
	</div>
</header>
