<div class="o-banner">
  <div class="o-wrapper o-wrapper--no-pad">
    <div class="o-split o-split--@med">
      <div class="o-wrapper">
        <img src="https://source.unsplash.com/random/450x600" alt="Random Unsplash Image">
      </div>
      <div>
        <div class="o-wrapper">
          <p>
            Est voluptate in culpa pariatur sint excepteur esse adipisicing anim in est voluptate in culpa pariatur sint excepteur esse adipisicing anim in est voluptate in culpa pariatur sint excepteur esse adipisicing anim in est voluptate in culpa pariatur sin excepteur esse adipisicing anim.
          </p>
          <p>
            Est voluptate in culpa pariatur sint excepteur esse adipisicing anim in est voluptate in culpa pariatur sint excepteur esse adipisicing anim in est voluptate in culpa pariatur sint excepteur esse adipisicing anim in est voluptate in culpa pariatur sin excepteur esse adipisicing anim.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>