<div class="c-profile">
  <div class="o-wrapper o-wrapper--no-pad">
    <div class="o-layout o-layout--no-gutter o-layout--col:2@med">
      <div class="o-wrapper">
        <div class="c-profile-backdrop">
          <div class="[ o-ratio o-ratio--3:4 ] u-bg-epsilon">
            <img
              class="o-ratio__content c-profile-image"
              src="{{ profile.img.src }}"
              alt="{{ profile.img.alt }}"
            >
          </div>
        </div>
      </div>

      <div class="o-wrapper c-profile-copy">
        {% for paragraph in profile.paragraphs %}
          <p>{{ paragraph | preventOrphan | safe }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>