<div class="o-wrapper">
  <h2 class="u-spaced-large">
    {{ work.title | safe }}
  </h2>

  {% for item in work.items %}
    <div
      class="
        c-card c-card--horizontal
        {% if loop.index % 2 === 0 %}
          c-card--reverse
        {% endif %}
        u-spaced-huge-@lrg
      "
      >
      <div class="[ o-ratio o-ratio--4:3 ] c-card__thumbnail">
        <img
          class="o-ratio__content"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
          data-src="{{ item.img.src }}"
          alt="{{ item.img.alt }}"
          data-lazyload
        >
      </div>

      <div class="c-card__info">
        <h3 class="c-card__title">
          {{ item.title | preventOrphan }}
        </h3>
        <p class="u-spaced-large">{{ item.text | preventOrphan }}</p>
        <a
          class="c-btn c-card__btn"
          href="{{ item.url }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          Visit Site
        </a>
      </div>
    </div>
  {% endfor %}
</div>