<div class="o-wrapper o-wrapper--narrow">
  <h2 class="u-h1">
    Get in touch
  </h2>

  <p class="u-spaced-huge">
    If you have a project that you'd like some help with, please don't hesitate to get in touch.
    If forms aren't your thing, you can email me at&nbsp;<a class="c-link" href="mailto:rjilucas@gmail.com">rjilucas@gmail.com</a>.
  </p>

  <form class="c-form" data-netlify="true">
    <label>
      Name <span>(required)</span>
      <input
        type="text"
        name="name"
        id="name"
        inputmode="text"
        autocomplete="name"
        pattern=".*\S+.*"
        required
      >
    </label>

    <label>
      Organisation
      <input
        type="text"
        name="organisation"
        id="organisation"
        inputmode="text"
        autocomplete="organization"
      >
    </label>
    
    <label class="c-form__fw">
      Email Address <span>(required)</span>
      <input
        type="email"
        name="email"
        id="email"
        inputmode="email"
        autocomplete="email"
        pattern=".*\S+.*"
        required
      >
    </label>
    
    <label class="c-form__fw">
      Message <span>(required)</span>
      <textarea name="message" id="message" required></textarea>
    </label>
    
    <button class="c-btn c-form__button" type="submit">
      Submit
    </button>
  </form>
</div>
