<section class="o-banner o-banner--with-delimeter">
  <div class="o-wrapper o-wrapper--narrow">
    <h2 class="u-spaced-large u-h1">
      What have I been up&nbsp;to?
    </h2>
    <ul class="c-timeline">
      <li class="c-timeline__item">
        <h2 class="c-timeline__title u-h3">
          Red Badger
        </h2>
        <span class="c-timeline__meta">
          Present
        </span>
        <p class="c-timeline__detail">
          Senior Software Engineer. 
        </p>
      </li>
    
      <li class="c-timeline__item">
        <h2 class="c-timeline__title u-h3">
          BBC
        </h2>
        <span class="c-timeline__meta">
          <time datetime="2018">18</time>&ndash;<time datetime="2019">19</time>
        </span>
        <p class="c-timeline__detail">
          Built, documented and maintained UI tools and libraries for development teams. Worked with the latest UI technologies; including Gatsby, Graphql, Typescript and CSS-in-JS.
        </p>
      </li>

      <li class="c-timeline__item">
        <h2 class="c-timeline__title u-h3">
          Deloitte
        </h2>
        <span class="c-timeline__meta">
          <time datetime="2017">17</time>&ndash;<time datetime="2018">18</time>
        </span>
        <p class="c-timeline__detail">
          UI Development for the Deloitte Digital team. Contributed to multi-national projects at scale. Planned and oversaw large audit and refactor efforts. Managed a team of remote developers.
        </p>
      </li>

      <li class="c-timeline__item">
        <h2 class="c-timeline__title u-h3">
          Collective London
        </h2>
        <span class="c-timeline__meta">
          <time datetime="2014">14</time>&ndash;<time datetime="2017">17</time>
        </span>
        <p class="c-timeline__detail">
          Led a front-end team responsible for builds that ranged from responsive microsites to large legacy projects. Implemented modern development workflows and testing approaches.
        </p>
      </li>

      <li class="c-timeline__item">
        <h2 class="c-timeline__title u-h3">
          Meta
        </h2>
        <span class="c-timeline__meta">
          <time datetime="2013">13</time>&ndash;<time datetime="2014">14</time>
        </span>
        <p class="c-timeline__detail">
          Usability testing and user research for an AI startup. Designed UX & UI solutions to address user "pain points" and improve retention.
        </p>
      </li>
    </ul>

    <a href="/reece-lucas-cv.pdf" class="c-btn">
      Download CV
    </a>
  </div>
</section>
